.contactus-section {
    padding: 2rem;
    background-color: #3c60ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contactus-container {
    max-width: 800px;
    width: 100%;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  .contact-links {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  .contact-linkWB {
    color: #25D366; /* WhatsApp green */
    transition: color 0.3s ease;
  }
  
  .contact-link {
    color: #1067ca; /* WhatsApp green */
    transition: color 0.3s ease;
    
  }
  
  .contact-link:hover {
    color: #03695d; /* Darker WhatsApp green */
  }
  
  .contactus-header {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .contactus-description {
    font-size: 1rem;
    color: #555;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .contactus-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    font-size: 1rem;
    color: #555;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .contactus-section {
      padding: 1rem;
    }
  
    .contactus-container {
      padding: 1.5rem;
    }
  
    .contactus-header {
      font-size: 1.5rem;
    }
  
    .contactus-description {
      font-size: 0.875rem;
    }
  
    .form-group input,
    .form-group textarea {
      font-size: 0.875rem;
    }
  
    .submit-button {
      font-size: 0.875rem;
      padding: 0.5rem 1rem;
    }
  }
  